*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: darkgray;
    font-family: sans-serif;
    font-size: 20px;
}
.container1{
    display: flex;
    width: 98.7vw;
    justify-content: space-around;
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.p1{
    display: flex;
    align-items: center;
}
.p2{
    color: blue;
}
.box3{
    width: 98.7vw;
    height: 553px;
    background-image: url(./image/hero-bg.png);
    display: flex;
    font-size: 50px;
    font-weight: 700;
    color: black;
    align-items: center;
    justify-content: center;
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 98.7vw;
}
.p:hover{
    color: orange;
}
.p{
    transition: 0.5s;
}